body {
    margin: 0 auto;
    width: 100%;
    overflow-x: hidden;
    background-color: rgba(248, 235, 214, 1) !important;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(248, 235, 214, 1) !important;
}

.collapse {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.navbar-nav {
    background-color: #B89C65;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    display: flex;
    gap: 120px;
    padding-right: 100px !important;
    padding: 10px 30px;
}

.collap {
    background-color: #baab8fa2;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.nav-link {
    color: white;
    font-size: 17px;
}

.navbar-brand {
    padding: 10px;
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.searchbox {
    width: 600px;
    border: none;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    background-color: white;
    height: 55px;
    border-radius: 25px;
    padding: 0 30px;
    margin-top: 10px;
}

.searchbox input {
    border-radius: 25px;
    border: none;
    width: 500px;
    font-size: 17px;
    color: #000000;
}

.searchbox i {
    font-size: 22px;
    margin: 18px;
    margin-right: 0;
}

#heart {
    font-size: 26px;
    color: #B89C65;
    margin: 0 10px;
    cursor: pointer;
}

#bell {
    font-size: 22px;
    color: #b89c65;
    margin: 0 10px;
    margin-left: 60px !important;
}

#head {
    font-size: 22px;
    color: #B89C65;
    margin: 0 10px;
    cursor: pointer;
}

.profile {
    border-radius: 50%;
    width: 70px;
    margin-right: 50px;
    color: white;
    cursor: pointer;
}

.home-img {
    object-fit: cover;
    width: 100%
}

footer {
    background-color: #B89C65;
    color: white;
}

footer p {
    line-height: .7;
    font-size: 18px;
}

footer h4 {
    margin-bottom: 20px;
}

#foot3 {
    background: rgba(26, 26, 26, .85);
    color: white;
}

.card1 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-left: 50px;
}

.card2 {
    font-size: 18px;
    padding-left: 50px;
}

.card {
    background-color: #B89C65;
    border: none;
    color: white;
}

#foot2 {
    font-size: 17px;
    border-top: 2px solid white;
    border-radius: 0;
}

.card3 {
    height: 200px;
    border: none;
    background-color: rgba(248, 235, 214, 0.6);
    text-align: center;
}

.card3-img {
    height: 90px;
}

.card3 p {
    font-size: 22px;
    font-weight: 600;
    margin: 20px 0;
}

.card4 p {
    line-height: 1;
    color: white;
}

#div1 {
    background-color: #B89C65;
}

.card4 {
    text-align: center;
    width: 180px;
}

.card4 i {
    font-size: 12px;
    margin-top: 0;
    color: yellow;
}

.card4 p {
    text-align: left;
    line-height: 0;
}

.map-img {
    width: 100%;
    height: 250px;
    width: 450px
}

.map-img1 {
    width: 100%;
    height: 250px;
    width: 600px
}

.scroll-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.scroll-images {
    display: flex;
    gap: 30px;
    animation: slide 8s linear infinite alternate;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-130%);
    }
}

.scroll-images img {
    width: 520px !important;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

figcaption p {
    font-size: 24px;
    font-weight: 600;
    margin-left: 20px;
}

#section2 p {
    font-size: 19px;
    letter-spacing: 1.5px;
    line-height: 1.5;
    margin-bottom: 50px;
}

#section4 p {
    font-size: 19px;
    font-weight: 500;
}

#section4 i {
    margin-right: 10px;
    font-size: 24px;
}

.div2 p {
    margin-bottom: 0;
}

.div2 {
    margin-top: 10px;
}

.fa-brands {
    font-size: 35px !important;
    background-color: rgb(4, 193, 4);
    color: white;
    border-radius: 25px;
}

.card7 {
    margin: 50px;
    background-color: white;
    border-radius: 15px;
    font-size: 18px;
    padding: 20px !important;
    margin-top: 0 !important;
    position: relative;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 40px;
}

.grid p {
    margin-left: 10px;
}

.grid input {
    width: 300px;
    border: 1.5px solid #B89C65;
    height: 40px;
    border-radius: 10px;
}

#gridin p {
    font-weight: 600;
}

.submit-btn {
    width: 170px;
    height: 70px;
    margin-left: 40px;
    border: none;
    border-radius: 10px;
    background-color: #B89C65;
    color: white
}

textarea {
    resize: none;
    height: 120px;
    width: 285px;
    border: 1.5px solid #B89C65;
    border-radius: 10px;
}

.popup {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 500px;
}

.openpopup {
    position: fixed;
    right: 20px;
    top: 150px;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;

}

.popup-box1 {
    background: white;
    padding: 10px;
    text-align: center;
    width: 120px;
}

#closePage {
    border: none;
    background-color: white;
    color: #B89C65;
    font-weight: bold;
}

.card-container {
    display: flex;
    flex-direction: row;
    height: 250px;
    margin-bottom: 15px;
    cursor: pointer;
}

.card-imgres {
    width: 50%;
    object-fit: cover;
}

.card-bodyres {
    padding: 50px;
    background-color: white;
    width: 50%
}

.card-h4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-h4 i {
    font-size: 28px;
    color: #B89C65;
    cursor: pointer;
}

.sub-body1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.sub-body {
    border-top: 1px solid black;
    padding-top: 20px;
    line-height: 1;
}

.rupee {
    color: #B89C65;
    font-weight: bold;
}

.sub-body1 i {
    color: yellow;
}

.card-container1 {
    display: flex;
    flex-direction: row;
    height: 300px;
    margin-bottom: 1px;
}

.tabs {
    width: 100%;
    height: 70px;
    border-right: 0;
    font-size: 20px;
    font-weight: 500;
    border: 1px solid;
    background-color: white;
    display: flex;
}

#overviewSection {
    flex-direction: row;
    padding: 50px;
    background-color: white;
}

#overviewSection h6 {
    margin-top: 30px;
    font-size: 20px;
}

.over-card p {
    padding-right: 250px;
    line-height: 2.5;
}

.over-card1 p {
    padding-right: 200px;
    line-height: 2.5;
}

.resnow-btn {
    margin: 30px 0;
    height: 50px;
    width: 200px;
    border: none;
    background-color: #B89C65;
    color: white;
    border-radius: 5px;
}

.content-section {
    display: none;
    padding: 30px 0;
}

.content-section.show {
    display: flex;
}


.tab {
    width: 50%;
    border: none;
    text-align: center;
    padding: 15px;
    cursor: pointer;
    font-size: 20px;
    border-right: 1px solid black;
}

.tab.active {
    border-bottom: 4px solid #b89b5e;
    font-weight: 600;
}

.menu-card {
    width: 100%;
}

.menu-card h4 {
    text-align: center;
    margin: 20px 0;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 2px;
}

.menu-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.menu-btn {
    width: 25%;
    height: 70px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    background-color: white;
}

.menu-cardlist {
    height: 400px;
    width: 350px;
    background-color: white;
    margin: 20px 0;
}

.menu-cardlist img {
    height: 250px;
    object-fit: cover;
    width: 350px
}

.menucardlist {
    margin-left: 100px;
    padding-top: 10px;
}

.menucardlist p {
    font-size: 20px;
}

.menucardlist h6 {
    font-size: 24px;
    font-weight: 600;
}

#menucard-btn {
    border: none;
    width: 170px;
    height: 40px;
    background-color: #B89C65;
    color: white;
    border-radius: 5px;
}

.card-show {
    display: flex;
    flex-wrap: wrap;
}

.more-btn {
    border: none;
    background-color: white;
}

.show-btn {
    width: 150px;
    height: 45px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #B89C65;
    margin: 30px 0;
    font-weight: 500;
    font-size: 19px;
}

.wishmenu {
    display: flex;
    flex-direction: row;
}

.wishmenu img {
    width: 300px;
}

.wishmenulist {
    background-color: white;
    width: 300px;
    border-radius: 10px;
    padding: 50px;
    line-height: 1.5;
    padding-left: 30px !important;
}

.left1 {
    display: flex;
    justify-content: flex-end;
}

.proceed {
    text-align: right;
    padding-right: 50px;
    font-size: 18px
}

.proceed-btn {
    border: none;
    height: 50px;
    background-color: #B89C65;
    color: white;
    border-radius: 5px;
}

.pro-card {
    padding-left: 250px;
    background-color: white;
    width: 100%;
    margin: 0 !important;
    height: 450px;
    padding-top: 20px;
}

.pro-card p {
    margin-top: 30px;
    font-size: 18px;
    color: #B89C65
}

.pro-card1 p {
    margin-top: 30px;
    font-size: 18px;
    color: #B89C65
}

.pro-card1 {
    padding-right: 150px;
    background-color: white;
    width: 100%;
    margin: 0 !important;
    height: 450px;
    padding-top: 20px;
}

.pro-card input,
.pro-card select {
    border: 1px solid #B89C65;
    border-radius: 5px;
    height: 40px;
    width: 70%;
    color: #b89b5e
}

.pro-card1 input {
    border: 1px solid #B89C65;
    border-radius: 5px;
    height: 40px;
    width: 70%;
}

.sub-btn {
    width: 350px;
    height: 60px;
    border-radius: 5px;
    background-color: #B89C65;
    color: white;
    border: none;
    font-weight: 600;
    margin-top: 35px;
}

.paycard {
    width: 100%;
    padding: 50px;
    background-color: white;
    height: 100%;
    position: relative;
}

.options {
    list-style-type: none;
    display: none;
    margin-top: 10px;
    width: 18%;
    cursor: pointer;
    font-weight: 500;
}

.paymenumodal {
    display: none;
    position: absolute;
    top: 350px;
    right: 50px;
    z-index: 1000;
}

.modal-box2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid;
    padding: 50px;
    width: 700px;
    gap: 30px;
    height: auto;
}

.modal-contentpay {
    display: flex;
    flex-wrap: wrap;
    gap: 120px;
}

.paycardbtn {
    width: 120px;
    border: none;
    background-color: #B89C65;
    color: white;
    height: 40px;
    border-radius: 5px;
}

.options li:hover {
    background-color: #B89C65;
    color: white;
}

.paymenumodal {
    display: none;
    position: absolute;
}

.alertmsg {
    display: none;
    font-size: 25px;
    color: #B89C65;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.divsend {display: flex;justify-content: center;align-items: center;flex-direction: column;line-height: 2;padding: 20px;}
.divsend i{font-size: 65px;color:#B89C65}

@media (max-width:600px) {
    .navbar-nav {
        gap: 10px;
    }

    .collap {
        width: 80%;
        justify-content: space-evenly;
        background-color: rgba(186, 171, 143, 0.035);
    }

    .searchbox {
        margin-left: 0;
        display: none;
    }

    .navbar {
        background-color: #baab8fa2 !important;
    }

    #bell,
    #heart,
    #head {
        display: none;
    }

    .profile {
        margin-left: 50px;
    }

    .map-img1,
    .map-img {
        width: 100%
    }

    .card1,
    .card2 {
        text-align: left;
        margin: 0;
        padding: 0;
        margin-bottom: 20px !important;
    }

    .card7 {
        padding: 0;
    }

    .grid input {
        width: 80%
    }

    .grid textarea {
        width: 80%;
        height: auto;
    }

    .openpopup {
        top: 90px;
    }

    .card-container {
        height: auto;
    }

    .card-container1 {
        height: auto;
    }

    .tabs {
        width: auto;
    }

    #overviewSection {
        flex-direction: column;
    }

    .pro-card1,
    .pro-card {
        padding-left: 50px;
        padding-right: 0;
    }

    .paycard {
        width: 100%;
        height: 700px;
    }

    .paymenumodal {
        top: 1200px;
        padding: 0;
        width: 100%;
        height: auto;
    }

    .modal-box2 {
        gap: 10px;
        display: flex;
        flex-direction: row;
        width: 100%
    }

    .modal-contentpay {
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        gap: 20px;
    }

    .modal-contentpay input {
        width: 70%;
        height: auto;
    }

    .options {
        width: 40%;
    }
}

@media (min-width:601px) and (max-width:1024px) {
    .navbar-nav {
        gap: 10px;
    }

    .collap {
        width: 70%;
        justify-content: space-evenly;
        background-color: rgba(186, 171, 143, 0.035);
    }

    .searchbox {
        margin-left: 0;
        display: none;
    }

    .navbar {
        background-color: #baab8fa2 !important;
    }

    #bell,
    #heart,
    #head {
        display: none;
    }

    .profile {
        margin-left: 70px;
    }

    .card2 {
        margin-left: 0;
        font-size: 14px;
        padding-left: 10px;
    }

    .map-img1 {
        width: 100%
    }

    .openpopup {
        top: 90px;
    }

    .pro-card1,
    .pro-card {
        padding-left: 50px;
        padding-right: 0;
    }

    .sub-btn {
        width: 70%;
    }

    .options {
        width: 40%;
    }

    .paymenumodal {
        padding: 0;
        width: auto;
        height: auto;
        top: 250px;
        left: 350px
    }

    .modal-box2 {
        gap: 10px;
        display: flex;
        flex-direction: row;
        width: 100%;
        height:100%;
        gap:0;
        Padding:10px;
    }

    .modal-contentpay {
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        gap: 0;
        marging:0;
        padding:0;
        height:100%;
    }

    .modal-contentpay input {
        width: 50%;
        height: auto;
    }

    .paycard {
        width: 100%;
        height:100%;
    }
    .menu-cardlist{width:auto;margin-right: 5px;}
    .menu-cardlist img{width:100%;object-fit: cover;height: auto;}
    .menucardlist{margin:30px;}

}
